@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootswatch/paper/variables.less";
@import "../bower_components/bootswatch/paper/bootswatch.less";

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);

@font-family-sans-serif: "Josefin Sans", "Noto Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

@brand-primary:         #0A80BA;
@brand-success:         #9BC53D;
@brand-info:            #0FAFFF;
@brand-warning:         #FA7921;
@brand-danger:          #E55934;

@border-radius-base:        1px;
@border-radius-large:       1px;
@border-radius-small:       1px;

@navbar-default-color: @gray;

.spaced-bottom {
    margin-bottom: 2em;
}

body {
    background: #EAEAEA;
}

@navbar-default-brand-color: @brand-primary;
@navbar-default-link-hover-color: @brand-primary;
@navbar-default-link-active-color: @brand-primary;

.navbar-brand {
    font-size: 22pt;
}

@dark-info: darken(@brand-info, 10%);

@font-size-base:          12pt;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            56pt;
@font-size-h2:            45pt;
@font-size-h3:            34pt;
@font-size-h4:            24pt;
@font-size-h5:            20pt;
@font-size-h6:            14pt;

.navbar-text {
    padding-left: 15px;
}

.filled-circle {
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-bottom: 1em;
    color: white;
    background: radial-gradient(10px 10px 45deg, circle cover, @brand-info 0%, @dark-info 100%, @brand-primary 95%);
    background-image: -moz-radial-gradient(15px 15px 45deg, circle cover, @brand-info 0%, @dark-info 100%, @brand-primary 95%);
    background-image: -webkit-radial-gradient(15px 15px, circle cover, @brand-info, @dark-info);
    background-image: radial-gradient(15px 15px 45deg, circle cover, @brand-info 0%, @dark-info 100%, @brand-primary 95%);
}

p {
    word-wrap: break-word;
}

.row-border-bottom {
    border-bottom: 1px solid #eee;
}

.info-text {
    border-radius: 3px;
    border-left: 5px solid @brand-info;
    padding: 1em;
    box-shadow: 0 0 3px #ddd;
    background: #fefefe;
}

h3 {
    color: @brand-primary;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.2em;
    margin-bottom: 0.5em;
}

#alert-container {
    position: fixed; bottom: 25px; right: 25px;
    font-size: 18pt;
    box-shadow: 5px 5px 20px #ddd;
}

/* Angular strap stuff */

.am-fade {
    opacity: 1;
    transition: opacity .2s linear;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }
    &.ng-leave {
        opacity: 1;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}
