@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootswatch/paper/variables.less";
@import "../bower_components/bootswatch/paper/bootswatch.less";

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);

@font-family-sans-serif: "Josefin Sans", "Noto Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

@brand-primary:         #0A80BA;
@brand-success:         #9BC53D;
@brand-info:            #FFA340;
@brand-warning:         #FA7921;
@brand-danger:          #E55934;

@border-radius-base:        2px;
@border-radius-large:       2px;
@border-radius-small:       2px;

@navbar-default-color: @gray;

.spaced-bottom {
    margin-bottom: 2em;
}

body {
    background: #EAEAEA;
}

@navbar-default-brand-color: @brand-primary;
@navbar-default-link-hover-color: @brand-primary;
@navbar-default-link-active-color: @brand-primary;

.navbar-brand {
    font-size: 22pt;
}

@dark-info: darken(@brand-info, 10%);

@font-size-base:          12pt;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            56pt;
@font-size-h2:            45pt;
@font-size-h3:            34pt;
@font-size-h4:            24pt;
@font-size-h5:            20pt;
@font-size-h6:            14pt;

.navbar-text {
    padding-left: 15px;
}

.number-square {
  display: inline-block;
  margin-bottom: 0.5em;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 16px;
  font-size: 14pt;
  line-height: 1.846;
  border-radius: 2px;
  background: @brand-primary;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  color: #fff;
  min-width: 65px;
}

.progress-bar:last-child.progress-bar:before {
  background-color: #C9E9FF;
}

p {
    word-wrap: break-word;
}

.row-border-bottom {
    border-bottom: 1px solid #eee;
}

.info-text {
    border-radius: 3px;
    border-left: 5px solid @brand-info;
    padding: 1em;
    box-shadow: 0 0 3px #ddd;
    background: #fefefe;
}

h3 {
    color: @brand-primary;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.2em;
    margin-bottom: 22pt;
    margin-top: 11pt;
}

#alert-container {
    position: fixed; bottom: 25px; right: 25px;
    font-size: 18pt;
    box-shadow: 5px 5px 20px #ddd;
}

/* Angular strap stuff */

.am-fade {
    opacity: 1;
    transition: opacity .2s linear;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: 1;
        }
    }
    &.ng-leave {
        opacity: 1;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}

.datepicker.dropdown-menu {
  width: 250px;
  height: 270px;
  button {
    outline: none;
    border: 0px;
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

.ng-hide-add, .ng-hide-remove, .ng-hide-add-active, .ng-hide-remove-active {
  transition: all linear 0.5s;
}

label {
    color: #111;
}
@track-color: #fff;
@thumb-color: #fafafa;

@thumb-radius: 3px;
@thumb-height: 30px;
@thumb-width: 14px;
@thumb-shadow-size: 1px;
@thumb-shadow-blur: 2px;
@thumb-shadow-color: #ccc;
@thumb-border-width: 0px;
@thumb-border-color: @brand-primary;

@track-width: 100%;
@track-height: 8px;
@track-shadow-size: 0px;
@track-shadow-blur: 0px;
@track-shadow-color: #bbb;
@track-border-width: 1px;
@track-border-color: #f0f0f0;

@track-radius: 2px;
@contrast: 1%;

.shadow(@shadow-size,@shadow-blur,@shadow-color) {
  box-shadow: @shadow-size @shadow-size @shadow-blur @shadow-color, 0px 0px @shadow-size lighten(@shadow-color,5%);
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  .shadow(@thumb-shadow-size,@thumb-shadow-blur,@thumb-shadow-color);
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }

  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-thumb {
    border: 1px solid @thumb-border-color;
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track();
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
    .shadow(@track-shadow-size,@track-shadow-blur,@track-shadow-color);
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
}