<div class="panel panel-default panel-body">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4" style="text-align: center">
                <img src="/static/favicon.ico" class="img-responsive" style="width:128px; display:inline">
            </div>
            <div class="col-sm-8">
                <h2>MoodDiary<br><small i18n="common.about_hsmall" class="hidden-xs">Welcome to the Ups and Downs</small></h2>
                <h4 class="visible-xs" i18n="common.about_hsmall" style="color:#bbb;"></h4>
            </div>
        </div>
    </div>
    <h4 i18n="common.about_h1"></h4>
    <p i18n="common.about_p1"></p>
    <h4 i18n="common.about_h2"></h4>
    <p i18n="common.about_p2"></p>
    <h4 i18n="common.about_h3"></h4>
    <p i18n="common.about_p3"></p>
</div>