<html ng-app="mooddiary" ng-cloak>
    <head>
        <title>MoodDiary - {{ 'Debug' if config['DEBUG'] else 'Production' }}</title>
        <meta content="">
        <base href="{{ request.url_root }}">

        {% assets "css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        {% assets "js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </head>
{% raw %}
    <body>
        <div class="container">
            <nav class="navbar navbar-default" ng-controller="LoginCtrl">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" ui-sref="about">
                            MoodDiary <span class="label label-primary">Alpha</span>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li ng-class="{active: $state.includes('about')}"><a ui-sref="about"><i class="fa fa-info"></i> About</a></li>
                            <li ng-show="$root.loggedIn" ng-class="{active: $state.includes('diary')}"><a ui-sref="diary.list"><i class="fa fa-book"></i> Diary</a></li>
                            <li ng-show="$root.loggedIn" ng-class="{active: $state.includes('settings')}"><a ui-sref="settings"><i class="fa fa-cogs"></i> Settings</a></li>
                        </ul>
                        <div class="navbar-right">
                            <button ng-hide="$root.loggedIn" class="btn btn-link navbar-btn" ng-click="showLoginModal()"><i class="fa fa-sign-in"></i> Login</button>
                            <p class="navbar-text" ng-show="$root.loggedIn">Logged in as <i class="fa fa-user"></i> <strong>{{ me.name }}</strong></p>
                            <button ng-show="$root.loggedIn" class="btn btn-link navbar-btn" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</button>
                        </div>
                    </div>
                </div>
            </nav>
            <div ui-view></div>
        </div>
    </body>
</html>
{% endraw %}
