{% raw %}

<div class="panel panel-default panel-body">
    <form class="form" ng-show="entryAdding">
        <legend>Add Entry <small>{{ today | date : mediumDate }}</small></legend>
        <div class="row" ng-repeat="row in (fields.length/2 | array)">
            <div class="col-md-6" ng-repeat="field in fields.slice(2*$index, 2*$index + 2)">
                <div class="form-group" ng-switch="field.type">
                    <label>{{ field.name }}</label>
                    <textarea ng-switch-when="1" class="form-control" placeholder="{{ field.name }}" ng-model="newEntryAnswers[field.id]"></textarea>
                    <div class="input-group" ng-switch-when="2">
                        <div class="input-group-addon">{{ newEntryAnswers[field.id] }}</div>
                        <input class="form-control" type="range" min="0" max="10" placeholder="{{ field.name }}" ng-model="newEntryAnswers[field.id]" ng-init="newEntryAnswers[field.id] = 0">
                    </div>
                    <input ng-switch-when="3" class="form-control" type="number" min="0" placeholder="{{ field.name }}" ng-model="newEntryAnswers[field.id]">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" ng-click="addEntry()">Add</button>
    </form>

    <a class="btn btn-primary" ng-click="entryAdding=true" ng-hide="entryAdding"><i class="fa fa-file-text-o"></i> Add Entry</a>

    <hr>

    <div class="btn-group spaced-bottom" ng-init="view = 'charts'">
        <button class="btn btn-default" ng-class="{active: view == 'charts'}" ng-click="view = 'charts'"><i class="fa fa-line-chart"></i> Chart</button>
        <button class="btn btn-default" ng-class="{active: view == 'table'}" ng-click="view = 'table'"><i class="fa fa-table"></i> Table</button>
    </div>

    <div ng-show="view == 'charts'">
        <div class="row spaced-bottom" ng-repeat="row in (chartableFields.length/4 | array)">
            <div class="col-sm-3" ng-repeat="field in chartableFields.slice(4*$index, 4*$index + 4)">
                <button class="btn btn-block btn-default" ng-click="toggleChartField(field)" ng-model="rofl" bs-checkbox>{{ field.name }}</small></button>
            </div>
        </div>
        <div class="row spaced-bottom">
            <div class="col-sm-12">
                <div class="btn-group" ng-model="timeLimit" bs-radio-group>
                    <label class="btn btn-success"><input type="radio" value="1.w"><strong>1</strong> Week</label>
                    <label class="btn btn-success"><input type="radio" value="2.w"><strong>2</strong> Week</label>
                    <label class="btn btn-success"><input type="radio" value="1.m"><strong>1</strong> Month</label>
                    <label class="btn btn-success"><input type="radio" value="2.m"><strong>2</strong> Month</label>
                    <label class="btn btn-success"><input type="radio" value="4.m"><strong>4</strong> Month</label>
                    <label class="btn btn-success"><input type="radio" value="6.m"><strong>6</strong> Month</label>
                    <label class="btn btn-success"><input type="radio" value="0.a">All</label>
                </div>
                {{ timeLimit }}
            </div>
        </div>
        <div class="row" ng-if="series.length>0">
            <div class="col-md-12">
                <canvas class="chart chart-line" data="actualChartData" labels="labels" series="series" legend="true"></canvas>
            </div>
        </div>
    </div>

    <div ng-show="view == 'table'">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th ng-repeat="field in fields">{{ field.name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="entry in entries">
                    <td>{{ entry.date | date : 'dd/MM' }}</td>
                    <td ng-repeat="field in fields">{{ getAnswerForField(entry, field) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endraw %}
