{% raw %}

<h1 i18n="common.menu_settings"></h1>
<div class="panel panel-default panel-body">
    <h3>Account</h3>
    <p class="help-text" ng-show="$stateParams.newUser" i18n="common.new_user"></p>
    <form name="profileEditForm" class="form" novalidate>
        <legend i18n="common.user_information"></legend>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" name="email" type="email" placeholder="Email" ng-model="me.email">
        </div>
        <div class="form-group">
            <label i18n="common.user_firstname"></label>
            <input class="form-control" name="first_name" type="text" i18n-attr="{placeholder: 'common.user_firstname'}" ng-model="me.first_name">
        </div>
        <div class="form-group">
            <label i18n="common.user_lastname"></label>
            <input class="form-control" name="last_name" type="text" i18n-attr="{placeholder: 'common.user_lastname'}" ng-model="me.last_name">
        </div>
        <button class="btn btn-primary" type="submit" ng-click="saveProfile()" i18n="common.save"></button>
    </form>
    <hr>
    <form name="passwordChangeForm" class="form" novalidate>
        <legend i18n="common.password"></legend>
        <div class="form-group">
            <label i18n="common.password"></label>
            <input class="form-control" name="password" type="password" i18n-attr="{placeholder: 'common.password'}" ng-model="me.password">
        </div>
        <button class="btn btn-primary" type="submit" ng-click="changePassword()" i18n="common.password_change"></button>
    </form>
</div>
<div class="panel panel-default panel-body">
    <h3 i18n="common.fields"></h3>

    <div class="row row-spaced" ng-repeat="row in (fields.length/3 | array)">
        <div class="col-sm-4" ng-repeat="field in fields.slice(3*$index, 3*$index + 3)">
            <h4>{{ field.name }} <small>{{ field.type | fieldTypeToString }}</small></h4></h6>
            <a class="btn btn-lg btn-link" ng-click="deleteField(field)"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>

    <form name="fieldAddForm" class="form" novalidate>
        <legend i18n="common.field_add"></legend>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" type="text" placeholder="Name" ng-model="newField.name">
        </div>
        <div class="form-group">
            <label>Type</label>
            <select class="form-control" name="type" ng-model="newField.type">
                <option value="1" i18n="common.field_string"></option>
                <option value="2" i18n="common.field_range" selected="selected"></option>
                <option value="3" i18n="common.field_integer"></option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit" ng-click="addField()" i18n="common.add"></button>
    </form>
</div>
{% endraw %}
